.cols1 {
  width: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.cols4 {
  width: 15em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.colfull {
  width: 95em;
  margin-left: 0.5em;
  margin-right: 0.5em; }

.clear {
  clear: both; }

body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #ccc; }

p {
  font-size: 1.5em;
  margin: 0 0 1em 0;
  padding: 0; }

.main {
  background-color: #fff;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 96em; }

.preview {
  float: left;
  height: 400px; }

.bgtest1 {
  float: left;
  background: black url("bg1.jpg") repeat;
  height: 11.24em;
  margin-top: 0.5em; }

.bgtest2 {
  float: left;
  background: black url("bg2.jpg") repeat;
  height: 11.24em;
  margin-top: 0.5em; }

img {
  float: left;
  display: block;
  margin-top: 0.5em;
  border: none; }

.group1 {
  background-color: #dc0; }

.group2 {
  background-color: #0cd; }

.group3 {
  background-color: #d0c; }

/* Large Desktop */
@media screen and (min-width: 1344px) {
  body {
    font-size: 14px; } }
/* Medium Desktop gets default styles */
/* Small Desktop */
@media screen and (min-width: 960px) and (max-width: 1151px) {
  body {
    font-size: 10px; } }
/* Large Tablet */
@media screen and (min-width: 896px) and (max-width: 959px) {
  body {
    font-size: 14px; }

  .colfull {
    width: 63em; }

  .main {
    width: 64em; } }
/* Medium Tablet */
@media screen and (min-width: 768px) and (max-width: 895px) {
  body {
    font-size: 12px; }

  .colfull {
    width: 63em; }

  .main {
    width: 64em; } }
/* Small Tablet */
@media screen and (min-width: 640px) and (max-width: 767px) {
  body {
    font-size: 10px; }

  .colfull {
    width: 63em; }

  .main {
    width: 64em; } }
/* Large Mobile */
@media screen and (min-width: 448px) and (max-width: 639px) {
  body {
    font-size: 14px; }

  .colfull {
    width: 31em; }

  .main {
    width: 32em; } }
/* Medium Mobile */
@media screen and (min-width: 384px) and (max-width: 447px) {
  body {
    font-size: 12px; }

  .colfull {
    width: 31em; }

  .main {
    width: 32em; } }
/* Small Mobile */
@media screen and (max-width: 383px) {
  body {
    font-size: 10px; }

  .colfull {
    width: 31em; }

  .main {
    width: 32em; } }
