


$basecolumn: 36px;
$basegutter: 9px;


$font-size: $basegutter;
$em: $font-size / 1em;


$gutter: $basegutter / $em;
$half-gutter: ($basegutter / 2) / $em;


@mixin width($cols:1){
	width: ($cols * ($basecolumn + $basegutter) - $basegutter) / $em;
}

@mixin fullwidth($cols){
	width: ($cols * ($basecolumn + $basegutter)) / $em;
}



.cols1 {
	@include width(1);
	margin-left: $half-gutter;
	margin-right: $half-gutter;
}

.colfull {
	@include width(24);
	margin-left: $half-gutter;
	margin-right: $half-gutter;
}

.clear {
	clear: both;
}

body {
	font-size: $font-size;
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

p {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	padding: 0;
}

.main {
	background-color: #fff;
	margin: 0 auto;
	/*padding-left: $half-gutter;*/
	@include fullwidth(24);
}


.preview {
	float: left;
	height: 400px;
}

.group1 {
	background-color: #dc0;
}

.group2 {
	background-color: #0cd;
}

.group3 {
	background-color: #d0c;
}






/* Large Desktop */
@media screen and (min-width: 1200px) {
	body {
		font-size: ($font-size + 1);
	}
}

/* Small Desktop */
@media screen and (min-width: 960px) and (max-width: 1079px) {
	body {
		font-size: ($font-size - 1);
	}
}

/* Large Tablet */
@media screen and (min-width: 800px) and (max-width: 959px) {
	body {
		font-size: ($font-size + 1);
	}
	
	.colfull {
		@include width(16);
	}
	
	.main {
		@include fullwidth(16);
	}
}

/* Medium Tablet */
@media screen and (min-width: 720px) and (max-width: 799px) {
	body {
		font-size: $font-size;
	}
	
	.colfull {
		@include width(16);
	}
	
	.main {
		@include fullwidth(16);
	}
}

/* Small Tablet */
@media screen and (min-width: 640px) and (max-width: 719px) {
	body {
		font-size: ($font-size - 1);
	}
	
	.colfull {
		@include width(16);
	}
	
	.main {
		@include fullwidth(16);
	}
}

/* Large Mobile */
@media screen and (min-width: 400px) and (max-width: 639px) {
	body {
		font-size: ($font-size + 1);
	}
	
	.colfull {
		@include width(8);
	}
	
	.main {
		@include fullwidth(8);
	}
}

/* Medium Mobile */
@media screen and (min-width: 360px) and (max-width: 399px) {
	body {
		font-size: ($font-size 0);
	}
	
	.colfull {
		@include width(8);
	}
	
	.main {
		@include fullwidth(8);
	}
}

/* Small Mobile */
@media screen and (max-width: 359px) {
	body {
		font-size: ($font-size - 1);
	}
	
	.colfull {
		@include width(8);
	}
	
	.main {
		height: 1200px;
		@include fullwidth(8);
		min-width: 320px;
	}
}
