


$basecolumn: 36px;
$basegutter: 9px;

$sizeadjust: 1px;

$deskcols: 24;
$tabcols: 16;
$mobcols: 8;


$largegutter: $basegutter + $sizeadjust;
$largecolumn: ($largegutter / $basegutter) * $basecolumn;

$smallgutter: $basegutter - $sizeadjust;
$smallcolumn: ($smallgutter / $basegutter) * $basecolumn;




$font-size: $basegutter;
$em: $font-size / 1em;

$gutter: $basegutter / $em;
$half-gutter: ($basegutter / 2) / $em;


@mixin width($cols:1){
	width: ($cols * ($basecolumn + $basegutter) - $basegutter) / $em;
}

@mixin fullwidth($cols){
	width: ($cols * ($basecolumn + $basegutter)) / $em;
}


.cols1 {
	@include width(1);
	margin-left: $half-gutter;
	margin-right: $half-gutter;
}

.colfull {
	@include width( $deskcols );
	margin-left: $half-gutter;
	margin-right: $half-gutter;
}

.clear {
	clear: both;
}

body {
	font-size: $font-size;
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

p {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	padding: 0;
}

.main {
	background-color: #fff;
	margin: 0 auto;
	padding-top: 1em;
	@include fullwidth( $deskcols );
}


.preview {
	float: left;
	height: 400px;
}

.group1 {
	background-color: #dc0;
}

.group2 {
	background-color: #0cd;
}

.group3 {
	background-color: #d0c;
}


/* Large Desktop */
$large-desk-min: $deskcols * ($largegutter + $largecolumn);
@media screen and (min-width: $large-desk-min) {
	body {
		font-size: ($font-size + $sizeadjust);
	}
}

/* Medium Desktop gets default styles */
$medium-desk-min: $deskcols * ($basegutter + $basecolumn);

/* Small Desktop */
$small-desk-min: $deskcols * ($smallgutter + $smallcolumn);
@media screen and (min-width: $small-desk-min) and (max-width: $medium-desk-min - 1px) {
	body {
		font-size: ($font-size - $sizeadjust);
	}
}

/* Large Tablet */
$large-tab-min: $tabcols * ($largegutter + $largecolumn);
@media screen and (min-width: $large-tab-min) and (max-width: $small-desk-min - 1px) {
	body {
		font-size: ($font-size + $sizeadjust);
	}
	
	.colfull {
		@include width( $tabcols );
	}
	
	.main {
		@include fullwidth( $tabcols );
	}
}

/* Medium Tablet */
$medium-tab-min: $tabcols * ($basegutter + $basecolumn);
@media screen and (min-width: $medium-tab-min) and (max-width: $large-tab-min - 1px) {
	body {
		font-size: $font-size;
	}
	
	.colfull {
		@include width( $tabcols );
	}
	
	.main {
		@include fullwidth( $tabcols );
	}
}

/* Small Tablet */
$small-tab-min: $tabcols * ($smallgutter + $smallcolumn);
@media screen and (min-width: $small-tab-min) and (max-width: $medium-tab-min - 1px) {
	body {
		font-size: ($font-size - $sizeadjust);
	}
	
	.colfull {
		@include width( $tabcols );
	}
	
	.main {
		@include fullwidth( $tabcols );
	}
}

/* Large Mobile */
$large-mob-min: $mobcols * ($largegutter + $largecolumn);
@media screen and (min-width: $large-mob-min) and (max-width: $small-tab-min - 1px) {
	body {
		font-size: ($font-size + $sizeadjust);
	}
	
	.colfull {
		@include width( $mobcols );
	}
	
	.main {
		@include fullwidth( $mobcols );
	}
}

/* Medium Mobile */
$medium-mob-min: $mobcols * ($basegutter + $basecolumn);
@media screen and (min-width: $medium-mob-min) and (max-width: $large-mob-min - 1px) {
	body {
		font-size: $font-size;
	}
	
	.colfull {
		@include width( $mobcols );
	}
	
	.main {
		@include fullwidth( $mobcols );
	}
}

/* Small Mobile */
//$small-mob-min: $mobcols * ($smallgutter + $smallcolumn);
@media screen and (max-width: $medium-mob-min - 1px) {
	body {
		font-size: ($font-size - $sizeadjust);
	}
	
	.colfull {
		@include width( $mobcols );
	}
	
	.main {
		@include fullwidth( $mobcols );
	}
}
