body {
	font-size: 10pt;
	font-family: Georgia, serif;
	margin: 0;
	padding: 1em 160px 0 15%;
	background: #cddded url('leaves_bg.jpg') no-repeat fixed bottom left;
	color: #000;
	text-shadow: #fff 0 0 4px;
}

a:link {
	color: #615b4a;
}

a:hover {
	background-color: #f4edd6;
}

a:visited {
	color: #3d3957;
}

a.secret:link, a.secret:visited, a.secret:active, a.secret:hover {
	color: #000;
	text-decoration: none;
	cursor: text;
}
a.secret:hover {
	background-color: transparent;
}


.clear {
	clear: both;
}

abbr, acronym {
	font-style: normal;
	border: none;
}

p {
	margin: 0 0 1em 0;
	line-height: 1.3em;
	text-align: justify;
}

p.clear {
	margin-top: 3em;
}

p.signature {
	padding-left: 5em;
	font-style: italic;
}

h1 {
	text-decoration: underline;
	font-size: 1.5em;
	margin: 0 0 0.4em 0;
}

h2 {
	clear: both;
	font-size: 1.3em;
	margin: 2em 0 0.6em 0;
}

a.thumbnail {
	display: block;
	float: left;
	border: 1px solid #8c90a4;
	padding: 3px;
	margin: 0 0 1em 0;
	background-color: #f4edd6;
}

a.thumbnail:hover {
	background-color: #fff;
}

a.thumbnail img {
	display: block;
	border: 1px solid #8c90a4;
	padding: 0;
	margin: 0;
}

dl {
	float: block;
	padding: 0;
	margin: 0 0 1em 180px;
}

dt {
	margin: 0 0 0.3em 0;
	font-weight: bold;
}

dd {
	margin: 0 0 1em 2em;
	padding: 0;
	text-align: justify;
}

a.license {
	display: block;
	float: left;
	margin: 0 1em 0.2em 0;
}

a.license img {
	display: block;
	border: none;
}

#footer {
	font-size: 0.8em;
	margin: 3em 0 0 0;
	padding: 1em 0 0 0;
	border-top: 1px solid #8c90a4;
}
