---
import EvePage from "../../layouts/EvePage.astro";
---

<EvePage
  titleSuffix="the friends"
  socialTitle="The friends of Event-Horizon"
  description="Links to websites of friends of Event-Horizon"
  keywords="event-horizon, friends, links, other websites"
>
  <p>Event-Horizon hosts various sites - here's a list of them:</p>

  <ul class="eve-link-list">
    <li>
      <a href="http://www.gnurou.org/">Alexandre's website</a><br />
      Alex is one of Adonthell's founders. This is a site where you can find out
      about all the impressive stuff he's into!
    </li>
  </ul>
  <hr />
  <p>
    Some of my friends have sites on this server too - they can be found on the <a
      href="users.shtml">People page</a
    >!
  </p>
  <hr />
  <p>And here a some other sites that friends have made...</p>
  <ul class="eve-link-list">
    <li>
      <a href="http://adonthell.nongnu.org/">Adonthell site</a><br />
      The Adonthell website made by Kai and Ben.
    </li>
    <li>
      <a href="http://abi1.cyberfinity.net/">Abi 1 site</a><br />
      Moritz's Abi 1 site made for our graduation from school.
    </li>
  </ul>
</EvePage>
