---
import EvePage from "../../layouts/EvePage.astro";
---

<EvePage
  titleSuffix="the sites"
  socialTitle="The sites of Event-Horizon"
  description="A list of websites hosted Event-Horizon"
  keywords="event-horizon, websites, hosting, hosted websites"
>
  <p>Event-Horizon hosts various sites - here's a list of them:</p>

  <section class="eve-link-group">
    <ul class="eve-link-list">
      <li>
        <a href="./">Event-Horizon site</a><br />
        The site you are just looking at!
      </li>
      <li>
        <a href="https://www.twiddles.com/">www.Twiddles.com</a><br />
        The company I am starting together with Nils.
      </li>
    </ul>
  </section>
  <section class="eve-link-group">
    <ul class="eve-link-list">
      <li>
        <a href="https://cirrus.twiddles.com/">Cirrus's Realm</a><br />
        James's personal website
      </li>
    </ul>
  </section>
  <section class="eve-link-group">
    <ul class="eve-link-list">
      <li>
        <a href="http://nostromo.cyberfinity.net/">Nostromo</a><br />
        Some experimental stuff...
      </li>
    </ul>
  </section>
  <section class="eve-link-group">
    <ul class="eve-link-list">
      <li>
        <a href="../uni/">Uni Stuff</a><br />
        James's university-related links page
      </li>
      <li>
        <a href="/uni/o2/">O2</a><br />
        James's first year university halls
      </li>
      <li>
        <a href="/uni/ganesha/">Ganesha site</a><br />
        James's 3rd year project site
      </li>
    </ul>
  </section>
  <section class="eve-link-group">
    <ul class="eve-link-list">
      <li>
        <a href="/cargo_bay/">Cargo Bay</a><br />
        Be sure to check out Event-Horizon's cargo bay for more websites!
      </li>
    </ul>
  </section>
</EvePage>
