---
import EvePage from "../../layouts/EvePage.astro";
---

<EvePage
  titleSuffix="the people"
  socialTitle="The people on Event-Horizon"
  description="The users of Event-Horizon and in some cases their websites"
  keywords="event-horizon, users, websites"
>
  <p>
    Several of my friends have user accounts on Event-Horizon. Here is a list of
    their usernames (and mine too). If they have made publicly available
    webpages then their username will be a link to those pages.
  </p>

  <ul class="eve-link-list">
    <li>
      <a href="./~btm/">btm</a>
    </li>
    <li>
      <a href="./~deniz/">deniz</a>
    </li>
    <li>
      <a href="./~kevinbutchart/">kevinbutchart</a>
    </li>
    <li>
      <a href="./~rnilz/">rnilz</a>
    </li>
  </ul>
</EvePage>
