---
import EvePage from "../../layouts/EvePage.astro";
---

<EvePage
  titleSuffix="the wap"
  socialTitle="The WAP site of Event-Horizon"
  description="Info on Event-Horizon's WAP site"
  keywords="event-horizon, wap site, wap, mobile, free pictures"
  mainProps={{ style: "--eve-margin-multiple: 1;", class: "eve-left-paras" }}
>
  <p>
    Event-Horizon also has a WAP site. Incase you don't know a WAP site is a
    kind of website but for mobile phones. Most mobiles these days can access
    WAP sites. You can't normally look at them in your web-browser on your
    computer.
  </p>

  <ul class="eve-link-list eve-margin-block-start">
    <li>
      Event-Horizon's WAP site is located here:<br />
      <a href="../wap/">http://event-horizon.cyberfinity.net/wap/</a>
    </li>
  </ul>

  <p class="eve-margin-block-start">
    At the moment there are only a few pictures available for download there. If
    you have a mobile with a colour screen you should be able to get them and
    use them as background pictures or MMS them to people! Enjoy!
  </p>
</EvePage>
