---
import type { HTMLAttributes } from "astro/types";
import HTML5 from "@cyberfinity/polymorph-components-astro/layouts/HTML5.astro";
import PageHeader from "@cyberfinity/polymorph-components-astro/components/PageHeader.astro";
import EvePageFooter from "../components/EvePageFooter.astro";

// Global site styles
import "../style/base.scss";

export interface Props {
  /**
   * Content for `<title>`
   */
  title: string;

  /**
   * Title text to use for semantic web & social media.
   *
   * Will be used for stuff like `og:title`, `schema:title`, etc.
   */
  socialTitle?: string;

  /**
   * Content for `<meta name="keywords">`
   */
  keywords?: string | string[];

  /**
   * Content for `<meta name="description">`
   */
  description?: string;

  /**
   * Additional props to spread on the `<main>` element.
   */
  mainProps?: HTMLAttributes<"main">;

  /**
   * Custom copyright year for the footer.
   *
   * @default 2002
   */
  copyrightYear?: number;
}

const { title, socialTitle, keywords, description, mainProps, copyrightYear } =
  Astro.props;
---

<HTML5 title={title}>
  <Fragment slot="head-content">
    <link rel="icon" href={new URL("favicon.ico", Astro.site)} />
    <meta
      name="keywords"
      content={Array.isArray(keywords) ? keywords.join(",") : keywords}
    />
    <meta name="description" content={description} />
    {socialTitle ? <meta property="og:title" content={socialTitle} /> : null}
    <slot name="head-extra" />
  </Fragment>
  <PageHeader>
    <slot name="header-content" />
  </PageHeader>
  <main {...mainProps}>
    <slot />
  </main>
  <EvePageFooter copyrightYear={copyrightYear} />
</HTML5>
