---
import PageFooter from "@cyberfinity/polymorph-components-astro/components/PageFooter.astro";
---

<PageFooter>
  © 2002 <a href="https://cirrus.twiddles.com/">James Nash</a>. Event-Horizon
  is hosted by <a href="https://www.cyberfinity.net/">Cyberfinity</a>.
</PageFooter>
